<div class="row">
    <div class="column1" style="background-color: #98B4D4;">
        <div class="card">
            <div class="card-header">
                <label for="">Q</label>
                <span>{{currentQuesNum}}</span>
                {{currentQues}}
            </div>
            <div class="card-body">

                <div class="list-group">
                    <div class="row">
                        <div class="btnCol">
                            <button type="button" [ngClass]="{ 'active' : isValue ===  currentQuesOptions[0]}"
                                style="margin-bottom: 30px; height: 80px;border-radius: 1rem;"
                                class="list-group-item list-group-item-action"
                                (click)="answerGiven(currentQuesOptions[0],0)">{{currentQuesOptions[0]}}</button>



                            <button type="button" [ngClass]="{ 'active' : isValue ===  currentQuesOptions[1] }"
                                style="margin-bottom: 30px;height: 80px;border-radius: 1rem;"
                                class="list-group-item list-group-item-action"
                                (click)="answerGiven(currentQuesOptions[1],1)">{{currentQuesOptions[1]}}</button>
                        </div>
                        <div class="btnCol">
                            <button type="button" [ngClass]="{ 'active' : isValue ===  currentQuesOptions[2]}"
                                style="margin-bottom: 30px;height: 80px;border-radius: 1rem;"
                                class="list-group-item list-group-item-action "
                                (click)="answerGiven(currentQuesOptions[2],2)">{{currentQuesOptions[2]}}</button>


                            <button type="button" [ngClass]="{ 'active' : isValue ===  currentQuesOptions[3]}"
                                style="margin-bottom: 30px;height: 80px;border-radius: 1rem;"
                                class="list-group-item list-group-item-action"
                                (click)="answerGiven(currentQuesOptions[3],3)">{{currentQuesOptions[3]}}</button>

                        </div>
                    </div>

                </div>


            </div>
            <div class="card-footer">
                <button class="btn btn-primary" (click)="PrevQuestion()" [disabled]="disablePrev">Prev</button>
                <button style="float: right;" class="btn btn-primary" (click)="NextQuestion()"
                    [disabled]="disableNext">Next</button>
                <button style="float: right;" class="btn btn-primary" (click)="clearResponse()">clearResponse</button>

            </div>
        </div>
    </div>
    <div class="column2" style="background-color:rgb(255, 255, 255);">
        <!-- <div class="card"style="height:150px">
          <div class="card-header">

          </div>
          <div class="card-body" >
            

          </div>
      </div> -->
        <div class="alert alert-primary" role="alert" style="text-align: center; font-size: 20px;">
            <p>Time Left</p>
            <countdown #cd [config]="{leftTime: 300}" (event)="handleEvent($event)" style="font-size: 30px;"></countdown>
            <div class="card">
                <div class="card-header">
                    Review
                </div>
                <div class="card-body">
                    <div class="list-group">
                        <div class="row">

                            <div class="btnCol1" *ngFor="let q of ques">
                                <button style="width: 80%;height: 60px; border-radius: 2rem;" class="btn btn-outline-primary" [ngClass]="{ 'active' : map1.has(q.questionId) ===  true }" (click)="gotoQuestion(q.questionId)">{{q.questionId}}</button>
                            </div>
    
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>


        <button style="float: right ; margin-right: 20px;" class="btn btn-primary" (click)="SubmitTest()">Submit
            Test</button>

    </div>
</div>


<router-outlet></router-outlet>